---
import '../styles/global.css'
import Menu from '../components/Menu.astro'
import Metadata from '../components/Metadata.astro'
import SplashImage from '../components/SplashImage.astro'

interface Props {
  title?: string
  description?: string
  splashImage?: string
}

const { title, description, splashImage } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.jpg" />
    <Metadata title={title} description={description} image={splashImage} />
  </head>
  <body>
    <div class="max-w-3xl m-auto py-3 px-3 lg:px-0 overflow-hidden">
      <Menu />
      {splashImage && <SplashImage src={splashImage} />}
      <slot />
      <script is:inline src="/js/image-enlarge.js"></script>
    </div>
  </body>
</html>
